#title {
  -webkit-transition: -webkit-transform 0.25s ease;
  -webkit-transform: translate3d(0, 100%, 0);
  background-color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.show-title #title {
  -webkit-transition: none;
  -webkit-transform: none;
}

#title-image {
  background: url("../images/puzzlesquare.jpg") no-repeat;
  background-size: 100%;
  margin-left: -150px;
  position: absolute;
  height: 375px;
  width: 300px;
  left: 50%;
  top: 3em;
}

#title-image::after {
  content: "* product may contain rectangles";
  position: absolute;
  font-style: italic;
  font-family: Arial;
  bottom: 1em;
  right: 3em;
}
