#splash {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#splash::after {
  .animation(splash-animation 3s ease 1 both);
  background: url(../images/flurryflakes.png) no-repeat 50% 50%;
  background-size: 50%;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  left: 0;
  top: 0;
}

@-webkit-keyframes splash-animation {
  0% { opacity: 0; }
  25% {opacity: 1; }
  75% {opacity: 1; }
  100% {opacity: 0; }
}

@-moz-keyframes splash-animation {
  0% { opacity: 0; }
  25% {opacity: 1; }
  75% {opacity: 1; }
  100% {opacity: 0; }
}

@-ms-keyframes splash-animation {
  0% { opacity: 0; }
  25% {opacity: 1; }
  75% {opacity: 1; }
  100% {opacity: 0; }
}

@keyframes splash-animation {
  0% { opacity: 0; }
  25% {opacity: 1; }
  75% {opacity: 1; }
  100% {opacity: 0; }
}
