.grid-cell {
  @include transform-transition(2s ease);
  display: inline-block;
  position: relative;

  .grid-filled & {
    @include transform-transition(2s ease-in);
  }

  .card {
    margin: 2.5%;
    height: 95%;
    width: 95%;
    @include transform-transition(0.5s ease-out);
    @include transform(scale(1.5));
    z-index: 1;

    &.dropped {
      @include transform(scale(1.0));
    }

  }

  .card-fx {
    border: 1em solid rgba(0, 0, 0, 0.2);
    @include transition(all 0.5s ease-out);
    @include box-sizing(border-box);
    border-radius: 10em;
    @include transform(scale(1));
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    left: 0;
    top: 0;

    &.dropped {
      @include transform(scale(5));
      z-index: 1;
      opacity: 0;
    }
  }

  &.trait-top.trait-left,
  &.trait-top.trait-right,
  &.trait-bottom.trait-left,
  &.trait-bottom.trait-right {
    &::after {
      visibility: hidden;
    }
  }

  &:empty::after {
    background: #ddd;
    border-radius: 0.5em;
    position: absolute;
    content: "";
    margin: 2.5%;
    height: 95%;
    width: 95%;
  }
}

#floor {
  position: fixed;
  left: 50%;
  top: 50%;
}

#grid {
  position: absolute;
  left: 0;
  top: 0;
}
