#splash {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#splash-image {
  background: url(../images/flurryflakes.png) no-repeat 50% 50%;
  background-size: 50%;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  left: 0;
  top: 0;
}
