
.grid-cell {
  display: inline-block;
  position: relative;

  .card {
    margin: 2.5%;
    height: 95%;
    width: 95%;
  }

  &:empty::after {
    background: #ddd;
    border-radius: 0.5em;
    position: absolute;
    content: "";
    margin: 2.5%;
    height: 95%;
    width: 95%;
  }
}

#grid {
  position: absolute;
  right: 50%;
  top: 50%;
}

//.show-title #grid,
//.selecting #grid,
//body[state="between-games"] #table,
//body[state="between-games"] #backside {
//  -webkit-transform: translateY(-200%);
//}
//
//.full-board #grid {
//  -webkit-transform: rotateY(180deg);
//}
