
.grid-cell {
  .transform-transition(2s ease);
  display: inline-block;
  position: relative;

  .card {
    margin: 2.5%;
    height: 95%;
    width: 95%;
  }

  &.trait-top.trait-left,
  &.trait-top.trait-right,
  &.trait-bottom.trait-left,
  &.trait-bottom.trait-right {
    &::after {
      visibility: hidden;
    }
  }

  &:empty::after {
    background: #ddd;
    border-radius: 0.5em;
    position: absolute;
    content: "";
    margin: 2.5%;
    height: 95%;
    width: 95%;
  }
}

#floor {
  position: fixed;
  left: 50%;
  top: 50%;
}

#grid {
  position: absolute;
  left: 0;
  top: 0;
}
