#title {
  -webkit-transition: opacity 0.25s ease, visibility 0s ease 0.25s;
  background-color: white;
  visibility: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0;
  left: 0;
  top: 0;
}
.show-title #title {
  opacity: 1;
  visibility: visible;
}
#title-image {
  position: absolute;
  background: url("../images/puzzlesquare.jpg") no-repeat;
  background-size: 100%;
  width: 300px;
  height: 375px;
  top: 3em;
  left: 50%;
  margin-left: -150px;
}
#title-image::after {
  content: "* product may contain rectangles";
  position: absolute;
  bottom: 1em;
  right: 3em;
  font-style: italic;
  font-family: Arial;
}
